<div class="card-contacto-3">

    <div class="row">
        <div class="col-1 lateral-grid">
            <div class="row">
                <div class="col-12 no-padding">
                    <img class="  plus-img absulute-block" src="assets/images/cruces/cruzL3.png" alt="">
                </div>
            </div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
            </div>
        </div>
        <div class="col-10">
            <br />
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10" [style.alignSelf]="'center'" data-aos="fade-up" data-aos-duration="fadeDuration">
                    <img width="100%" src="assets/images/contacto/contacto.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-12 centered" [style.alignSelf]="'center'">
                    <img src="assets/images/cruces/flechaAbajo.png" alt="">
                </div>
            </div>
            <br />
        </div>
        <div class="col-1 lateral-grid">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
                <div class="col-12 no-padding self-end">
                    <img class="  plus-img absulute-block" src="assets/images/cruces/cruzR4.png" alt="">
                </div>
            </div>
        </div>
    </div>

</div>

<div class="card-contacto-2">
    <div class="row">
        <div class="col-1 lateral-grid">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
                <div class="col-12 no-padding">
                    <img class="  plus-img plus-left absulute-block" src="assets/images/cruces/cruzL1.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-10">
            <br />
            <div class="row contacto-mail" data-aos="fade-up" data-aos-duration="fadeDuration">
                <img src="assets/images/contacto/mail.png" alt="">
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
                        <h1 class="card-title-text-2 montserrat-regular">Sera un gusto atenderte, escribe el servicio que necesitas y te respondere lo mas breve posible.</h1>
                    </div>
                    <form id="frmContacto" [formGroup]="contactoForm" (ngSubmit)="guardarMensaje()">
                        <div class="row">
                            <div class="col-6">
                                <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <mat-form-field class="text-cover-area bg-light montserrat-regular">
                                        <mat-label [style.color]="'#931c5f'">Nombre y Apellido:</mat-label>
                                        <textarea matInput formControlName="nombre" [ngClass]="{ 'is-invalid': contactoF('nombre')?.errors }" rows="3"></textarea>
                                        <mat-error *ngIf="contactoF('nombre')?.errors">ingresa nombre</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <mat-form-field class="text-cover-area bg-light montserrat-regular">
                                        <mat-label [style.color]="'#931c5f'">E-mail:</mat-label>
                                        <textarea matInput formControlName="email" [ngClass]="{ 'is-invalid': contactoF('email')?.errors }" rows="5"></textarea>
                                        <mat-error *ngIf="contactoF('email')?.errors">ingresa email valido</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <mat-form-field class="text-cover-area bg-light montserrat-regular">
                                        <mat-label [style.color]="'#931c5f'">Móvil:</mat-label>
                                        <input matInput formControlName="telefono" [ngClass]="{ 'is-invalid': contactoF('telefono')?.errors }" />
                                        <mat-error *ngIf="contactoF('telefono')?.errors">ingresa móvil valido</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <mat-form-field class="text-cover-area bg-light montserrat-regular">
                                        <mat-label [style.color]="'#931c5f'">País:</mat-label>
                                        <input matInput formControlName="pais" [ngClass]="{ 'is-invalid': contactoF('pais')?.errors }" />
                                        <mat-error *ngIf="contactoF('pais')?.errors">ingresa país</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-6" data-aos="fade-up" data-aos-duration="fadeDuration">
                                <mat-form-field class="text-cover-area bg-light montserrat-regular" [style.height]="'95%'">
                                    <mat-label [style.color]="'#931c5f'">Mensaje:</mat-label>
                                    <textarea matInput [style.height]="'100%'" formControlName="mensaje" [ngClass]="{ 'is-invalid': contactoF('mensaje')?.errors }" rows="15"></textarea>
                                    <mat-error *ngIf="contactoF('mensaje')?.errors">ingresa mensaje</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <br />
                        <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
                            <button mat-raised-button class="form-control lato-black" color="accent">Enviar</button>
                        </div>
                    </form>
                </div>
                <div class="col-2"></div>
            </div>
            <br />
        </div>
        <div class="col-1 lateral-grid">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">

            </div>
        </div>
    </div>

</div>