<div class="card-webdesing">
    <br />
    <br />
    <div class="row">
        <div class="col-1 lateral-grid">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">

            </div>
        </div>
        <div class="col-10">
            <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
                <div class="col-md-1"></div>
                <div class="col-md-5" [style.alignSelf]="'center'" data-aos="fade-up" data-aos-duration="fadeDuration">
                    <img width="100%" src="assets/images/disenioweb/disenioWeb.png" alt="">
                </div>
                <div class="col-md-5" [style.alignSelf]="'center'" data-aos="fade-up" data-aos-duration="fadeDuration">
                    <div class="row">
                        <div class="col-12" [style.textAlign]="'center'">
                            <img width="50%" src="assets/images/disenioweb/web.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 centered" [style.alignSelf]="'center'">
                    <img src="assets/images/cruces/flechaAbajo.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-1 lateral-grid">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
                <div class="col-12 no-padding">
                    <img class="  plus-img absulute-block" src="assets/images/cruces/cruzR4.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-reflex">
    <br />
    <div class="row">
        <div class="col-1 lateral-grid">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
                <div class="col-12 no-padding">
                    <img class="  plus-img absulute-block" src="assets/images/cruces/cruzL3.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5" [style.alignSelf]="'center'" data-aos="fade-up" data-aos-duration="fadeDuration">
                    <img width="100%" src="assets/images/disenioweb/reflex.png" alt="">
                </div>
                <div class="col-md-5" [style.alignSelf]="'center'">
                    <div class="row">
                        <div class="col-12" [style.textAlign]="'center'">
                            <div class="row">
                                <div class="col-3" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <img width="50%" src="assets/images/disenioweb/iconos/web.png" alt="">
                                </div>
                                <div class="col-9 no-padding" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <label class="trade-title nexa-bold">diseño de pagina web</label>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <img width="50%" src="assets/images/disenioweb/iconos/cliente.png" alt="">
                                </div>
                                <div class="col-9">
                                    <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
                                        <label class="trade-cliente nexa-bold">Cliente</label>
                                    </div>
                                    <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
                                        <label class="trade-cliente-name nexa-bold">REFLEX</label>
                                    </div>
                                    <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
                                        <label class="trade-cliente-logotype nexa-bold"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <img width="50%" src="assets/images/disenioweb/iconos/detalles.png" alt="">
                                </div>
                                <div class="col-9 no-padding" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <label class="trade-description myriad-pro-regular">Rediseño enfocado en actualizar su página a un estilo
                                        más moderno, manteniendo su línea gráfica, su función
                                        es mejorar el uso con el usuario haciéndola más intuitiva,
                                        promocionando sus productos y brindar información
                                        sobre los mismos, encontrar su punto de venta.</label>
                                </div>
                            </div>
                            <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
                                <div class="col-12" [style.textAlign]="'center'">
                                    <a mat-raised-button class="trade-link lato-black" [style.backgroundColor]="'#1caedb'" href="https://reflex.com.sv" target="_blank">Visitar Web</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-1 lateral-grid">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">

            </div>
        </div>
    </div>
    <br />
</div>

<div class="card-tips">
    <br />
    <div class="row">
        <div class="col-1 lateral-grid">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">

            </div>
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5" [style.alignSelf]="'center'">
                    <div class="row">
                        <div class="col-12" [style.textAlign]="'center'">
                            <div class="row">
                                <div class="col-9 no-padding" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <label class="trade-title-right nexa-bold">diseño de pagina web</label>
                                </div>
                                <div class="col-3" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <img width="50%" src="assets/images/disenioweb/iconos/web.png" alt="">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-9" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <div class="row display-block">
                                        <label class="trade-cliente-right nexa-bold">Cliente</label>
                                    </div>
                                    <div class="row display-block" data-aos="fade-up" data-aos-duration="fadeDuration">
                                        <label class="trade-cliente-name-right nexa-bold">American Petroleum</label>
                                    </div>
                                    <div class="row display-block" data-aos="fade-up" data-aos-duration="fadeDuration">
                                        <label class="trade-cliente-logotype-right nexa-bold"></label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <img width="50%" src="assets/images/disenioweb/iconos/cliente.png" alt="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-9">
                                    <div class="row display-block" data-aos="fade-up" data-aos-duration="fadeDuration">
                                        <label class="trade-cliente-right nexa-bold">Colaboración</label>
                                    </div>
                                    <div class="row display-block" data-aos="fade-up" data-aos-duration="fadeDuration">
                                        <label class="trade-cliente-name-right nexa-bold">TIPS Marketing Digital</label>
                                    </div>
                                    <div class="row display-block" data-aos="fade-up" data-aos-duration="fadeDuration">
                                        <label class="trade-cliente-logotype-right nexa-bold"></label>
                                    </div>
                                </div>
                                <div class="col-3" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <img width="50%" src="assets/images/disenioweb/iconos/colaboracion.png" alt="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-9 no-padding" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <label class="trade-description-right myriad-pro-regular">Rediseño de Página web que busca tener mejor
                                        interacción con el usuario y una vista más agradable,
                                        su prioridad es ofrecer un amplio catálogo de
                                        productos actualizables e informar el uso de los
                                        mismos y encontrar su distribuidor más cercano.</label>
                                </div>
                                <div class="col-3" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <img width="50%" src="assets/images/disenioweb/iconos/detalles.png" alt="">
                                </div>
                            </div>
                            <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
                                <div class="col-12" [style.textAlign]="'center'">
                                    <a mat-raised-button class="trade-link lato-black" [style.backgroundColor]="'#35A8E0'" href="americanpetroleumelsal.com" target="_blank">Visitar Web</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-5" [style.alignSelf]="'center'" data-aos="fade-up" data-aos-duration="fadeDuration">
                    <img width="100%" src="assets/images/disenioweb/americanPetro.png" alt="">
                </div>
            </div>

        </div>
        <div class="col-1 lateral-grid">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
                <div class="col-12 no-padding">
                    <img class="  plus-img absulute-block" src="assets/images/cruces/cruzR1.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <br />
</div>

<div class="card-variteck">
    <br />
    <div class="row">
        <div class="col-1 lateral-grid">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
                <div class="col-12 no-padding">
                    <img class="  plus-img absulute-block" src="assets/images/cruces/cruzL3.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5" [style.alignSelf]="'center'" data-aos="fade-up" data-aos-duration="fadeDuration">
                    <img width="100%" src="assets/images/disenioweb/variteck.png" alt="">
                </div>
                <div class="col-md-5" [style.alignSelf]="'center'" data-aos="fade-up" data-aos-duration="fadeDuration">
                    <div class="row">
                        <div class="col-12" [style.textAlign]="'center'">
                            <div class="row">
                                <div class="col-3" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <img width="50%" src="assets/images/disenioweb/iconos/web.png" alt="">
                                </div>
                                <div class="col-9 no-padding" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <label class="trade-title nexa-bold">diseño de pagina web</label>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <img width="50%" src="assets/images/disenioweb/iconos/cliente.png" alt="">
                                </div>
                                <div class="col-9" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
                                        <label class="trade-cliente nexa-bold">Cliente</label>
                                    </div>
                                    <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
                                        <label class="trade-cliente-name nexa-bold">Variteck MX</label>
                                    </div>
                                    <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
                                        <label class="trade-cliente-logotype nexa-bold"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <img width="50%" src="assets/images/disenioweb/iconos/colaboracion.png" alt="">
                                </div>
                                <div class="col-9">
                                    <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
                                        <label class="trade-cliente nexa-bold">Colaboración</label>
                                    </div>
                                    <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
                                        <label class="trade-cliente-name nexa-bold">TIPS Marketing Digital</label>
                                    </div>
                                    <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
                                        <label class="trade-cliente-logotype nexa-bold"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <img width="50%" src="assets/images/disenioweb/iconos/detalles.png" alt="">
                                </div>
                                <div class="col-9 no-padding" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <label class="trade-description myriad-pro-regular">Diseño de página web enfocada en mostrar su
                                        catálogo de productos, utilizando elementos de su
                                        logotipo, y vender facilidades para empresas
                                        enfocadas en producción de alimentos, para agilizar
                                        tiempos de producción y funciones.</label>
                                </div>
                            </div>
                            <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
                                <div class="col-12" [style.textAlign]="'center'">
                                    <a mat-raised-button class="trade-link lato-black" [style.backgroundColor]="'#E51B71'" href="https://www.vari-teck.com" target="_blank">Visitar Web</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-1 lateral-grid">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">

            </div>
        </div>
    </div>
    <br />
</div>