.card-webdesing {
    background-image: url('/assets/images/fondoFooter.png');
}

.card-reflex {
    background-image: url('/assets/images/disenioweb/Fondos/1.png');
}

.card-tips {
    background-image: url('/assets/images/disenioweb/Fondos/2.png');
}

.card-variteck {
    background-image: url('/assets/images/disenioweb/Fondos/3.png');
}