<div id="navbar-up" class="card-navbar">

    <!-- <mat-tab-group dynamicHeight mat-align-tabs="end" animationDuration="1000ms">
      <span><label>asd</label></span>
      <mat-tab label="First"> Content 1 </mat-tab>
      <mat-tab label="Second"> Content 2 </mat-tab>
      <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group> -->
    <nav mat-tab-nav-bar mat-align-tabs="end">

        <span>
          <img [src]="'assets/images/home/logoHome.png'" class="nav-image-icon" />
      </span>
        <mat-divider [vertical]="true" [style.marginTop]="'0.5em'" [style.marginBottom]="'0.5em'" [style.borderRightColor]="'white'"></mat-divider>
        <span class="nav-image-span">
          <img [src]="'assets/images/home/defHome.png'" class="nav-image-icon-mini nav-image" />
      </span>
        <div class="navbar-spacer"></div>
        <lable class="text-light montserrat-extra-bold tab-linke" mat-tab-link [style.opacity]="'1'" *ngFor="let link of links" (click)="drouter(link)" [active]="activeLink == link"> {{link}} </lable>
    </nav>
</div>

<router-outlet></router-outlet>

<div class="card-footer">

    <!-- <mat-tab-group dynamicHeight mat-align-tabs="end" animationDuration="1000ms">
      <span><label>asd</label></span>
      <mat-tab label="First"> Content 1 </mat-tab>
      <mat-tab label="Second"> Content 2 </mat-tab>
      <mat-tab label="Third"> Content 3 </mat-tab>
  </mat-tab-group> -->
    <nav mat-tab-nav-bar mat-align-tabs="end">
        <div>
            <img (click)="moveUp(1000)" [src]="'assets/images/cruces/flechaArriba.png'" class="nav-image-icon" />
        </div>
        <div class="centered" (click)="moveUp(1000)">
            <label class="volver-text nexa-bold">Volver</label><br>
            <label class="volver-text nexa-bold">Arriba</label>
        </div>
        <div class="navbar-spacer"></div>
        <lable class="text-light montserrat-regular tab-linke" mat-tab-link [style.opacity]="'1'" *ngFor="let link of links" (click)="drouter(link)" [active]="activeLink == link"> {{link}} </lable>
    </nav>
    <div class="col-12">
        <div class="row">
            <div class="col-9">
            </div>
            <div class="col-3" [style.textAlign]="'end'">
                <img width="60%" src="assets/images/home/logoHome.png" alt="">
            </div>
        </div>
    </div>
</div>