.card-navbar {
    background-image: url('/assets/images/fondoHeader.png');
}

.card-footer {
    background-color: #1c1c1c;
    background-image: url('/assets/images/fondoFooter.png');
}

.nav-image-icon {
    max-height: 80px;
    margin-right: 1em;
    margin-left: 2em;
}

.nav-image-icon-mini {
    margin-top: 10px;
    max-height: 60px;
}

.nav-image-span {
    vertical-align: middle;
    display: flex;
}

.nav-image {
    margin-left: 0.5em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

.navbar-spacer {
    flex: 1 1 auto;
}

.volver-text {
    text-transform: uppercase;
    color: aliceblue;
    font-size: x-large;
    align-self: center;
}

.tab-linke {
    min-width: 10%;
}