<div class="card-branding">
    <div class="row">
        <div class="col-1 lateral-grid">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
                <div class="col-12  plus-left">
                    <img class="plus-img absulute-block" src="assets/images/cruces/cruzL4.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-10">
            <br />
            <br />
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5" [style.alignSelf]="'center'" data-aos="fade-up" data-aos-duration="fadeDuration">
                    <img width="100%" src="assets/images/branding/branding.png" alt="">
                </div>
                <div class="col-md-5" [style.alignSelf]="'center'">
                    <div class="row">
                        <div class="col-12" [style.textAlign]="'center'" data-aos="fade-up" data-aos-duration="fadeDuration">
                            <img width="50%" src="assets/images/branding/brandingLogo.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12" [style.textAlign]="'center'" data-aos="fade-up" data-aos-duration="fadeDuration">
                            <label class="text-video myriad-pro-regular" [style.width]="'60%'">Trabajos relacionados a la creación o <br>
                                rediseño de el area grafca de las marcas: <br>
                                Papelería, logotipos, linea gráfca.</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 centered" [style.alignSelf]="'center'">
                    <img src="assets/images/cruces/flechaAbajo.png" alt="">
                </div>
            </div>
            <br />
        </div>
        <div class="col-1 lateral-grid">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
                <div class="col-12 self-end">
                    <img class=" plus-img absulute-block" src="assets/images/cruces/cruzR1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-spabass" data-aos="fade-up" data-aos-duration="fadeDuration">
    <div class="row">
        <div class="col-1 lateral-grid">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
            </div>
        </div>
        <div class="col-10">
            <br />
            <div class="row">
                <div class="col-md-6" [style.alignSelf]="'center'" data-aos="fade-up" data-aos-duration="fadeDuration">
                    <img width="100%" src="assets/images/branding/spabass.png" alt="">
                </div>
                <div class="col-md-6" [style.alignSelf]="'center'">
                    <div class="row">
                        <div class="col-12" [style.textAlign]="'center'">
                            <div class="row">
                                <div class="col-3" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <img width="50%" src="assets/images/branding/Iconos/maletin.png" alt="">
                                </div>
                                <div class="col-9 no-padding" data-aos="fade-up" [style.display]="'grid'" data-aos-duration="fadeDuration">
                                    <label class="trade-title nexa-bold">rediseño de identidad corporativa</label>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3">
                                    <img width="50%" src="assets/images/branding/Iconos/cliente.png" alt="">
                                </div>
                                <div class="col-9">
                                    <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
                                        <label class="trade-cliente nexa-bold">Cliente</label>
                                    </div>
                                    <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
                                        <label class="trade-cliente-name nexa-bold">SpaBass</label>
                                    </div>
                                    <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
                                        <label class="trade-cliente-logotype nexa-bold">Basses & Guitar Care</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <img width="50%" src="assets/images/branding/Iconos/descripcion.png" alt="">
                                </div>
                                <div class="col-9 no-padding" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <label class="trade-description myriad-pro-regular">Diseño de logo con tendencia moderna a
                                        unifcar la marca en un sello todos sus elementos,
                                        inspirado en los headstock de guitarras y bajos, dando
                                        a entender el servicio de la empresa.</label>
                                </div>
                            </div>
                            <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
                                <div class="col-12" [style.textAlign]="'center'">
                                    <a mat-raised-button class="trade-link lato-black" [style.backgroundColor]="'#1caedb'" href="https://www.behance.net/gallery/131557387/SpaBass-Logo-Design" target="_blank">Visitar Web</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
        <div class="col-1 lateral-grid">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
                <div class="col-12 self-end">
                    <img class=" plus-img absulute-block" src="assets/images/cruces/cruzR3.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-alvarenga" data-aos="fade-up" data-aos-duration="fadeDuration">
    <div class="row">
        <div class="col-1 lateral-grid">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
                <div class="col-12  plus-left">
                    <img class=" plus-img absulute-block" src="assets/images/cruces/cruzL4.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-10">
            <br />
            <div class="row">
                <div class="col-md-6" [style.alignSelf]="'center'">
                    <div class="row">
                        <div class="col-12" [style.textAlign]="'center'">
                            <div class="row">
                                <div class="col-9 no-padding" data-aos="fade-up" [style.display]="'grid'" data-aos-duration="fadeDuration">
                                    <label class="trade-title-right nexa-bold">rediseño de identidad corporativa</label>
                                </div>
                                <div class="col-3" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <img width="50%" src="assets/images/branding/Iconos/maletin.png" alt="">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-9">
                                    <div class="row display-block" data-aos="fade-up" data-aos-duration="fadeDuration">
                                        <label class="trade-cliente-right nexa-bold">Cliente</label>
                                    </div>
                                    <div class="row display-block" data-aos="fade-up" data-aos-duration="fadeDuration">
                                        <label class="trade-cliente-name-right nexa-bold">Alvarenga sastrería</label>
                                    </div>
                                    <div class="row display-block" data-aos="fade-up" data-aos-duration="fadeDuration">
                                        <label class="trade-cliente-logotype-right nexa-bold">San Miguel</label>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <img width="50%" src="assets/images/branding/Iconos/cliente.png" alt="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-9 no-padding" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <label class="trade-description-right myriad-pro-regular">Diseño de manual de imagen corporativa para
                                        Sastrería y Modas Alvarenga, donde se elaboró, misión,
                                        visión, usos correctos, variantes y aplicaciones,
                                        proyecto elaborado para minipymes para tener
                                        presencia en medios físicos y digitales</label>
                                </div>
                                <div class="col-3" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <img width="50%" src="assets/images/branding/Iconos/descripcion.png" alt="">
                                </div>
                            </div>
                            <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
                                <div class="col-12" [style.textAlign]="'center'">
                                    <a mat-raised-button class="trade-link lato-black" [style.backgroundColor]="'#35A8E0'" href="https://www.behance.net/gallery/131559017/Alvarenga-Identidad-Corporativa" target="_blank">Visitar Web</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-6" [style.alignSelf]="'center'" data-aos="fade-up" data-aos-duration="fadeDuration">
                    <img width="100%" src="assets/images/branding/alvarenga.png" alt="">
                </div>
            </div>
            <br />
        </div>
        <div class="col-1 lateral-grid">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
            </div>
        </div>
    </div>

</div>
<div class="card-bigbacon" data-aos="fade-up" data-aos-duration="fadeDuration">

    <div class="row">
        <div class="col-1 lateral-grid">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
            </div>
        </div>
        <div class="col-10">
            <br />
            <div class="row">
                <div class="col-md-6" [style.alignSelf]="'center'" data-aos="fade-up" data-aos-duration="fadeDuration">
                    <img width="100%" src="assets/images/branding/bigbacon.png" alt="">
                </div>
                <div class="col-md-6" [style.alignSelf]="'center'">
                    <div class="row">
                        <div class="col-12" [style.textAlign]="'center'">
                            <div class="row">
                                <div class="col-3" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <img width="50%" src="assets/images/branding/Iconos/maletin.png" alt="">
                                </div>
                                <div class="col-9 no-padding" [style.display]="'grid'" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <label class="trade-title nexa-bold">rediseño de identidad corporativa</label>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <img width="50%" src="assets/images/branding/Iconos/cliente.png" alt="">
                                </div>
                                <div class="col-9">
                                    <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
                                        <label class="trade-cliente nexa-bold">Cliente</label>
                                    </div>
                                    <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
                                        <label class="trade-cliente-name nexa-bold">Big Bacon</label>
                                    </div>
                                    <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
                                        <label class="trade-cliente-logotype nexa-bold">Sonsonate</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <img width="50%" src="assets/images/branding/Iconos/descripcion.png" alt="">
                                </div>
                                <div class="col-9 no-padding" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <label class="trade-description myriad-pro-regular">Elaborado para Restaurante BigBacon, fue inspirado en
                                        unificar, hacer más sólida su imagen, manteniendo sus
                                        colores corporativos. Y un rediseño más atractivo para
                                        sus clientes</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12" [style.textAlign]="'center'" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <a mat-raised-button class="trade-link lato-black" [style.backgroundColor]="'#E51B71'" href="https://www.behance.net/gallery/131559991/Big-Bacon-Rediseno " target="_blank">Visitar Web</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>
        <div class="col-1 lateral-grid">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
                <div class="col-12 self-end">
                    <img class=" plus-img absulute-block" src="assets/images/cruces/cruzR4.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>