/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
    font-family: aquino-demo;
    src: url('https://fonts.cdnfonts.com/s/22955/Aquino-Demo.woff') format("woff");
}

@font-face {
    font-family: lato-black;
    src: url('https://fonts.gstatic.com/s/lato/v20/S6u9w4BMUTPHh6UVSwaPGR_p.woff2') format('woff2');
}

@font-face {
    font-family: montserrat-extra-bold;
    src: url('https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2') format('woff2');
}

@font-face {
    font-family: montserrat-regular;
    src: url('https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_cJD3gnD_g.woff2') format('woff2');
}

@font-face {
    font-family: myriad-pro-regular;
    src: url('https://fonts.cdnfonts.com/s/492/MYRIADPRO-REGULAR.woff') format('woff');
}

@font-face {
    font-family: nexa-bold;
    src: url('https://fonts.gstatic.com/s/ubuntu/v15/4iCv6KVjbNBYlgoCjC3jsGyN.woff2') format('woff2');
}

@font-face {
    font-family: nexa-light;
    font-style: normal;
    src: url('https://fonts.cdnfonts.com/s/16221/NexaLight.woff') format('woff');
}