<div class="card-multimedia">

    <div class="container">
        <br />
        <br />
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5" [style.alignSelf]="'center'">
                    <img width="100%" src="assets/images/multimedia/multimedia.png" alt="">
                </div>
                <div class="col-md-5" [style.alignSelf]="'center'">
                    <div class="row">
                        <div class="col-12" [style.textAlign]="'center'">
                            <img width="40%" src="assets/images/multimedia/play.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12" [style.textAlign]="'center'">
                            <label class="text-video">Proyectos relacionados a
                                creación de videos, producción
                                y post producción y animación.</label>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-1 plus-left no-padding ">
                <img class="side-outsite-bottom plus-img" src="assets/images/cruces/cruzL3.png" alt="">
            </div>
            <div class="col-10 centered" [style.alignSelf]="'center'">
                <img src="assets/images/home/cruces/flechaAbajo.png" alt="" (click)="moveBotton(1000)">
            </div>
            <div class="col-1 plus-right no-padding ">
                <img class="side-outsite-bottom plus-img" src="assets/images/cruces/cruzR1.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="card-videos">

    <div class="container-fluid">
        <br />
        <br />
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <youtube-player videoId="WsUIVaXlmV8" rel="false" modestbranding="true" suggestedQuality="highres" [startSeconds]="0" [endSeconds]="8">
                    </youtube-player>
                    <label class="video-info">Cliente <br> Amaretto Classic Rock</label>
                </div>
                <div class="col-md-4">
                    <youtube-player videoId="OX49Uj4-K_o" rel="false" modestbranding="true" suggestedQuality="highres" [startSeconds]="0" [endSeconds]="8">
                    </youtube-player>
                    <label class="video-info">Cliente <br> Amaretto Classic Rock</label>
                </div>
                <div class="col-md-4">
                    <youtube-player videoId="Y86NeyIPIPY" rel="false" modestbranding="true" suggestedQuality="highres" [startSeconds]="0" [endSeconds]="8">
                    </youtube-player>
                    <label class="video-info">Cliente <br> Amaretto Classic Rock</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <youtube-player videoId="jOmg9WusnJQ" rel="false" modestbranding="true" suggestedQuality="highres" [startSeconds]="0" [endSeconds]="8">
                    </youtube-player>
                    <label class="video-info">Cliente <br> Amaretto Classic Rock</label>
                </div>
                <div class="col-md-8">
                    <youtube-player videoId="O-N_jd5BPT8" rel="false" modestbranding="true" suggestedQuality="highres" [startSeconds]="0" [endSeconds]="8">
                    </youtube-player>
                    <label class="video-info">Cliente <br> Amaretto Classic Rock</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <youtube-player videoId="uZkawzPlOPM" rel="false" modestbranding="true" suggestedQuality="highres" [startSeconds]="0" [endSeconds]="8">
                    </youtube-player>
                    <label class="video-info">Cliente <br> Amaretto Classic Rock</label>
                </div>
                <div class="col-md-4">
                    <youtube-player videoId="i6wNCw7rkEc" rel="false" modestbranding="true" suggestedQuality="highres" [startSeconds]="4" [endSeconds]="8">
                    </youtube-player>
                    <label class="video-info">Cliente <br> Amaretto Classic Rock</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-1 plus-left no-padding ">
                <img class="side-outsite-bottom plus-img" src="assets/images/cruces/cruzL3.png" alt="">
            </div>
            <div class="col-10 centered" [style.alignSelf]="'center'">
                <img src="assets/images/home/cruces/flechaAbajo.png" alt="" (click)="moveBotton(1000)">
            </div>
            <div class="col-1 plus-right no-padding ">
                <img class="side-outsite-bottom plus-img" src="assets/images/cruces/cruzR1.png" alt="">
            </div>
        </div>
    </div>
</div>