<div class="card-multimedia">

    <div class="container">
        <br />
        <br />
        <div class="col-md-12" data-aos="fade-up" data-aos-duration="fadeDuration">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5" [style.alignSelf]="'center'" data-aos="fade-up" data-aos-duration="fadeDuration">
                    <img width="100%" src="assets/images/multimedia/multimedia.png" alt="">
                </div>
                <div class="col-md-5" [style.alignSelf]="'center'">
                    <div class="row">
                        <div class="col-12" [style.textAlign]="'center'" data-aos="fade-up" data-aos-duration="fadeDuration">
                            <img width="40%" src="assets/images/multimedia/play.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12" [style.textAlign]="'center'">
                            <label class="text-video myriad-pro-regular">Proyectos relacionados a
                                creación de videos, producción
                                y post producción y animación.</label>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="col-12">
        <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
            <div class="col-1 plus-left no-padding ">
                <img class="side-outsite-bottom plus-img" src="assets/images/cruces/cruzL3.png" alt="">
            </div>
            <div class="col-10 centered" [style.alignSelf]="'center'">
                <img src="assets/images/cruces/flechaAbajo.png" alt="" (click)="moveBotton(1000)">
            </div>
            <div class="col-1 plus-right no-padding ">
                <img class="side-outsite-bottom plus-img" src="assets/images/cruces/cruzR1.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="card-videos">

    <div class="container-fluid">
        <br />
        <br />
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4" data-aos="fade-up" data-aos-duration="fadeDuration">
                    <youtube-player videoId="WsUIVaXlmV8" rel="false" modestbranding="true" suggestedQuality="highres" [startSeconds]="0">
                    </youtube-player>
                    <label class="video-title-2 nexa-light"> Intro Lives</label>
                    <a href="https://youtu.be/WsUIVaXlmV8" target="open" class="video-title nexa-bold">Franja VIP</a>
                    <label class="video-info nexa-bold">Cliente <br> Amaretto Classic Rock</label>
                </div>
                <div class="col-md-4" data-aos="fade-up" data-aos-duration="fadeDuration">
                    <youtube-player videoId="OX49Uj4-K_o" rel="false" modestbranding="true" suggestedQuality="highres" [startSeconds]="0">
                    </youtube-player>
                    <label class="video-title-2 nexa-light"></label>
                    <a href="https://youtu.be/OX49Uj4-K_o" target="open" class="video-title nexa-bold">Perseverancia en el arte</a>
                    <label class="video-info nexa-bold">Proyecto <br> personal</label>
                </div>
                <div class="col-md-4" data-aos="fade-up" data-aos-duration="fadeDuration">
                    <youtube-player videoId="Y86NeyIPIPY" rel="false" modestbranding="true" suggestedQuality="highres" [startSeconds]="0">
                    </youtube-player>
                    <label class="video-title-2 nexa-light"> music video</label>
                    <a href="https://youtu.be/Y86NeyIPIPY" target="open" class="video-title nexa-bold">September</a>
                    <label class="video-info nexa-bold">Cliente <br> Looper Rock Band</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" data-aos="fade-up" data-aos-duration="fadeDuration">
                    <youtube-player videoId="jOmg9WusnJQ" rel="false" modestbranding="true" suggestedQuality="highres" [startSeconds]="0">
                    </youtube-player>
                    <label class="video-title-2 nexa-light"> music video</label>
                    <a href="https://youtu.be/jOmg9WusnJQ" target="open" class="video-title nexa-bold">Africa</a>
                    <label class="video-info nexa-bold">Cliente <br> Amaretto Classic Rock</label>
                </div>
                <div class="col-md-8" data-aos="fade-up" data-aos-duration="fadeDuration">
                    <youtube-player videoId="O-N_jd5BPT8" rel="false" modestbranding="true" suggestedQuality="highres" [startSeconds]="0">
                    </youtube-player>
                    <label class="video-title-2 nexa-light">Animación</label>
                    <a href="https://youtu.be/O-N_jd5BPT8" target="open" class="video-title nexa-bold">Plan de proyectos</a>
                    <label class="video-info nexa-bold">Cliente <br> Embajada Japón</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8" data-aos="fade-up" data-aos-duration="fadeDuration">
                    <youtube-player videoId="uZkawzPlOPM" rel="false" modestbranding="true" suggestedQuality="highres" [startSeconds]="0">
                    </youtube-player>
                    <label class="video-title-2 nexa-light">Edición para tv</label>
                    <a href="https://youtu.be/uZkawzPlOPM" target="open" class="video-title nexa-bold">Evo TV</a>
                    <label class="video-info nexa-bold">Proyecto personal</label>
                </div>
                <div class="col-md-4" data-aos="fade-up" data-aos-duration="fadeDuration">
                    <youtube-player videoId="i6wNCw7rkEc" rel="false" modestbranding="true" suggestedQuality="highres" [startSeconds]="4">
                    </youtube-player>
                    <label class="video-title-2 nexa-light"></label>
                    <a href="https://youtu.be/i6wNCw7rkEc" target="open" class="video-title nexa-bold">AMANECER ILAMATEPEC</a>
                    <label class="video-info nexa-bold">Proyecto personal</label>
                </div>
            </div>
        </div>
    </div>
    <div id="multimediaBottom" class="col-12">
        <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
            <div class="col-1 plus-left no-padding ">
                <img [style.marginLeft]="'-50%'" class="side-outsite-bottom plus-img" src="assets/images/cruces/cruz1.png" alt="">
            </div>
            <div class="col-10 centered" [style.alignSelf]="'center'">
                <img src="assets/images/home/cruces/flechaAbajo.png" alt="" (click)="moveBotton(1000)">
            </div>
            <div class="col-1 plus-right no-padding ">
                <img class="side-outsite-bottom plus-img" src="assets/images/cruces/cruzR1.png" alt="">
            </div>
        </div>
    </div>
</div>