<div class="card-octamedia">
    <div class="row">

        <div class="col-1 lateral-grid">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
                <div class="col-12 no-padding">
                    <img class="  plus-img absulute-block" src="assets/images/cruces/cruzL3.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-10" data-aos="fade-up" data-aos-duration="fadeDuration">
            <br />
            <br />
            <div class="row">
                <div class="col-md-6" [style.marginTop]="'-5%'" data-aos="fade-up" data-aos-duration="fadeDuration">
                    <img width="100%" src="assets/images/home/logoHome.png" alt="">
                    <img width="50%" [style.marginTop]="'-10%'" src="assets/images/home/defHome.png" alt="">
                </div>
                <div class="col-md-6" data-aos="fade-up" data-aos-duration="fadeDuration">
                    <span [style.color]="'white'" class="myriad-pro-regular">
                        <p>Contrapunto proviene de un concepto digital que significa, 
                        dos melodías sonando al mismo tiempo. Traducido al area de diseño gráfico se refiere a 
                        poder controlar multiples disciplinas enfocadas en: Edición, fotografía y branding.
                       </p>
                       <p>La linea gráfica retoma un estilo “Cyberpunk”, o efecto glitch que se utiliza para
                            denominar a los errores de programación que tiene un videojuego y aprovecharlos para
                             mejorar, en este caso de diseño, aprender de los errores y mejorar
                        las habilidades.</p>
                       <p> Gracias por visitar este sitio web, espero que
                        disfrutes su contenido</p></span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 centered" [style.alignSelf]="'center'">
                    <img src="assets/images/cruces/flechaAbajo.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-1 lateral-grid">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
                <div class="col-12 no-padding ">
                    <img class="rotate  plus-img absulute-block" src="assets/images/cruces/cruzL1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-proyectos">
    <br />
    <br />
    <div class="row">
        <div class="col-1 lateral-grid">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">

            </div>
        </div>
        <div class="col-10">


            <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
                <div class="col-md-6" data-aos="fade-up" data-aos-duration="fadeDuration">
                    <img width="100%" src="assets/images/home/Proyectos/proyectos.png" alt="">
                </div>
                <div class="col-md-6 " [style.display]="'grid'">
                    <div class="row bipre" [style.width]="'100%'" data-aos="fade-up" data-aos-duration="fadeDuration">

                        <a (click)="drouter('m')" class="img-multimedia hovered visible-effect nexa-bold upper ">
                                Multimedia
                            </a>
                        <img class="select-categ-img" width="20%" src="assets/images/home/Proyectos/manoTouch.png" alt="">
                        <label [style.color]="'white'" class="myriad-pro-regular select-categ">Seleciona una categoría</label>

                    </div>
                    <div class="row bipre" [style.width]="'100%'" data-aos="fade-up" data-aos-duration="fadeDuration">

                        <a (click)="drouter('b')" class="img-branding hovered visible-effect nexa-bold upper">
                                Branding
                            </a>

                    </div>
                    <div class="row bipre" [style.width]="'100%'" data-aos="fade-up" data-aos-duration="fadeDuration">

                        <a (click)="drouter('d')" class="img-webdesing hovered visible-effect nexa-bold upper">
                                Diseño Web
                            </a>

                    </div>
                </div>
            </div>

        </div>
        <div class="col-1 lateral-grid">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
                <div class="col-12 no-padding ">
                    <img class="rotate  plus-img absulute-block" src="assets/images/cruces/cruzL1.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
</div>
<div class="card-colaboradores">
    <br />
    <br />
    <div class="row">
        <div class="col-1 lateral-grid">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
                <div class="col-12 no-padding ">
                    <img class=" plus-img absulute-block" src="assets/images/cruces/cruzL1.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col-12">
                    <h1 class="card-title-text nexa-bold" data-aos="fade-up" data-aos-duration="fadeDuration">Colaboradores</h1>
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-3 centered" [style.alignSelf]="'center'" data-aos="fade-up" data-aos-duration="fadeDuration">
                    <img width="55%" class="hovered" src="assets/images/home/Colaboradores/spabass.png" alt="">
                </div>
                <div class="col-3 centered" [style.alignSelf]="'center'" data-aos="fade-up" data-aos-duration="fadeDuration">
                    <img width="55%" class="hovered" src="assets/images/home/Colaboradores/amaretto.png" alt="">
                </div>
                <div class="col-3 centered" [style.alignSelf]="'center'" data-aos="fade-up" data-aos-duration="fadeDuration">
                    <img width="110%" class="hovered" src="assets/images/home/Colaboradores/reflex.png" alt="">
                </div>
                <div class="col-3 centered" [style.alignSelf]="'center'" data-aos="fade-up" data-aos-duration="fadeDuration">
                    <img width="55%" class="hovered" src="assets/images/home/Colaboradores/albasan.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3 centered" [style.alignSelf]="'center'" data-aos="fade-up" data-aos-duration="fadeDuration">
                    <img width="55%" class="hovered" src="assets/images/home/Colaboradores/nikoCactli.png" alt="">
                </div>
                <div class="col-3 centered" [style.alignSelf]="'center'" data-aos="fade-up" data-aos-duration="fadeDuration">
                    <img width="55%" class="hovered" src="assets/images/home/Colaboradores/looper.png" alt="">
                </div>
                <div class="col-3 centered" [style.alignSelf]="'center'" data-aos="fade-up" data-aos-duration="fadeDuration">
                    <img width="55%" class="hovered" src="assets/images/home/Colaboradores/tipsMarketing.png" alt="">
                </div>
            </div>
        </div>
        <div class="col-1 lateral-grid">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">

            </div>
        </div>
    </div>
    <br />
    <br />
</div>

<div class="card-contacto">
    <br />
    <br />
    <div class="row">
        <div class="col-1 lateral-grid">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">

            </div>
        </div>
        <div class="col-10">
            <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
                <h1 class="card-title-text nexa-bold">Contacto</h1>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
                        <h1 class="card-title-text-2 montserrat-regular">Sera un gusto atenderte, escribe el servicio que necesitas y te respondere lo mas breve posible.</h1>
                    </div>
                    <form id="frmContacto" [formGroup]="contactoForm" (ngSubmit)="guardarMensaje()">
                        <div class="row">
                            <div class="col-6">
                                <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <mat-form-field class="text-cover-area bg-light montserrat-regular">
                                        <mat-label>Nombre y Apellido:</mat-label>
                                        <textarea matInput formControlName="nombre" [ngClass]="{ 'is-invalid': contactoF('nombre')?.errors }" rows="3"></textarea>
                                        <mat-error *ngIf="contactoF('nombre')?.errors">ingresa nombre</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <mat-form-field class="text-cover-area bg-light montserrat-regular">
                                        <mat-label>E-mail:</mat-label>
                                        <textarea matInput formControlName="email" [ngClass]="{ 'is-invalid': contactoF('email')?.errors }" rows="5"></textarea>
                                        <mat-error *ngIf="contactoF('email')?.errors">ingresa email valido</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <mat-form-field class="text-cover-area bg-light montserrat-regular">
                                        <mat-label>Móvil:</mat-label>
                                        <input matInput formControlName="telefono" [ngClass]="{ 'is-invalid': contactoF('telefono')?.errors }" />
                                        <mat-error *ngIf="contactoF('telefono')?.errors">ingresa móvil valido</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
                                    <mat-form-field class="text-cover-area bg-light montserrat-regular">
                                        <mat-label>País:</mat-label>
                                        <input matInput formControlName="pais" [ngClass]="{ 'is-invalid': contactoF('pais')?.errors }" />
                                        <mat-error *ngIf="contactoF('pais')?.errors">ingresa país</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-6" data-aos="fade-up" data-aos-duration="fadeDuration">
                                <mat-form-field class="text-cover-area bg-light montserrat-regular" [style.height]="'95%'">
                                    <mat-label>Mensaje:</mat-label>
                                    <textarea matInput [style.height]="'100%'" formControlName="mensaje" [ngClass]="{ 'is-invalid': contactoF('mensaje')?.errors }" rows="15"></textarea>
                                    <mat-error *ngIf="contactoF('mensaje')?.errors">ingresa mensaje</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <br />
                        <div class="row" data-aos="fade-up" data-aos-duration="fadeDuration">
                            <button mat-raised-button class="form-control lato-black" color="accent">Enviar</button>
                        </div>
                    </form>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
        <div class="col-1 lateral-grid">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="row">
                <div class="col-12 no-padding ">
                    <img class=" plus-img absulute-block" src="assets/images/cruces/cruzR4.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div id="inicioBottom"></div>
</div>