.card-octamedia {
    background-image: url('/assets/images/home/fondos/octamedia.png');
}

.card-proyectos {
    background-image: url('/assets/images/home/fondos/proyectos.png');
}

.card-colaboradores {
    background-image: url('/assets/images/home/fondos/colaboradores.png');
}

.card-contacto {
    background-image: url('/assets/images/home/fondos/coctacto.png');
}

.absulute-block {
    position: absolute;
    display: block;
}

.plus-right {
    display: block;
    position: inherit;
    text-align: end;
    left: 100%;
}

.rotate {
    transform: rotate(180deg);
}

.plus-left {
    display: block;
    position: inherit;
    text-align: start;
    left: 0%;
}

.plus-img {
    color: aliceblue;
    width: 90%;
    z-index: 1;
}

.no-padding {
    padding-left: 0%;
    padding-right: 0%;
}

.centered {
    text-align: center;
}

.side-outsite-left-1 {
    margin-left: -60%;
}

.side-outsite-left-2 {
    margin-left: -35%;
}

.side-outsite-left-3 {
    margin-left: 0%;
}

.side-outsite-right-2 {
    margin-left: 25%;
}

.side-outsite-right-1 {
    margin-left: 50%;
}

.text-nat-center {
    position: relative;
    display: inline;
    align-self: center;
}

.hovered {
    transition: transform 0.5s;
}

.hovered:hover {
    transform: scale(1.1);
    text-decoration: none;
}

.text-absolute {
    position: absolute;
    top: 45%;
    left: 25%;
    color: #fff;
    font-size: 250%;
    animation: dis;
}

.text-absolute-1 {
    position: absolute;
    top: 45%;
    left: -15%;
    color: #fff;
    font-size: 250%;
}

.text-absolute-2 {
    position: absolute;
    top: 45%;
    left: 13%;
    color: #fff;
    font-size: 250%;
}

.visible-effect {
    opacity: 0.9;
    transition: opacity 0.5s linear;
}

.visible-effect:hover {
    opacity: 1;
}

.card-title-text {
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 400%;
    text-transform: uppercase;
    text-shadow: 1.2px 0 0 #00b8ff, -1.5px 0 #ff2aff;
}

.card-title-text-2 {
    color: #fff;
    width: 100%;
    text-align: center;
    font-weight: 400;
}

.text-cover-area {
    width: 100%;
    margin-top: 1em;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.upper {
    text-transform: uppercase;
}

.select-categ {
    position: absolute;
    font-size: large;
    text-align: center;
    align-self: center;
    left: 45%;
}

.select-categ-img {
    position: absolute;
    text-align: center;
    align-self: center;
    left: 25%;
}

.centered {
    align-items: center;
    align-self: center;
}

.img-multimedia {
    background-image: url('/assets/images/home/Proyectos/multimediaRectangulo.png');
    background-size: cover;
    padding: 1.5em;
    font-size: xxx-large;
    height: 85%;
    margin-left: -30%;
    text-align: center;
    background-position: center;
    align-self: center;
    border-radius: 2em;
    color: #fff;
}

.img-branding {
    background-image: url('/assets/images/home/Proyectos/branding.png');
    background-size: cover;
    padding: 1.5em;
    padding-inline: 1.8em;
    padding-right: 1.5em;
    height: 85%;
    font-size: xxx-large;
    margin-left: -15%;
    text-align: center;
    background-position: center;
    align-self: center;
    border-radius: 2em;
    color: #fff;
}

.img-webdesing {
    background-image: url('/assets/images/home/Proyectos/disenioWeb.png');
    background-size: cover;
    padding: 1.5em;
    height: 85%;
    font-size: xxx-large;
    margin-left: 0%;
    text-align: center;
    background-position: center;
    align-self: center;
    border-radius: 2em;
    color: #fff;
}

.bipre {
    color: #fff;
}

@media screen and (max-width: 1660px) {
    .img-webdesing {
        font-size: xx-large;
    }
    .img-multimedia {
        font-size: xx-large;
    }
    .img-branding {
        font-size: xx-large;
    }
}

@media screen and (max-width: 1310px) {
    .img-webdesing {
        font-size: x-large;
    }
    .img-multimedia {
        font-size: x-large;
    }
    .img-branding {
        font-size: x-large;
    }
}

@media screen and (max-width: 1070px) {
    .img-webdesing {
        font-size: large;
    }
    .img-multimedia {
        font-size: large;
    }
    .img-branding {
        font-size: large;
    }
}

@media screen and (max-width: 940px) {
    .select-categ-img {
        display: none;
        position: absolute;
    }
    .select-categ {
        display: none;
        position: absolute;
    }
}

@media screen and (max-width: 950px) {
    .img-webdesing {
        font-size: medium;
    }
    .img-multimedia {
        font-size: medium;
    }
    .img-branding {
        font-size: medium;
    }
}

@media screen and (max-width: 767px) {
    .img-multimedia {
        margin-left: 0%;
    }
    .img-branding {
        margin-left: 0%;
    }
    .bipre {
        display: grid;
    }
    .img-webdesing {
        font-size: xx-large;
    }
    .img-multimedia {
        font-size: xx-large;
    }
    .img-branding {
        font-size: xx-large;
    }
}

.block {
    display: block;
    position: relative;
}

.lateral-grid {
    display: grid;
}