<div class="card-octamedia">

    <div class="container">
        <br />
        <br />
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5"><img width="100%" src="assets/images/home/logoHome.png" alt="">
                    <img width="50%" [style.marginTop]="'-10%'" src="assets/images/home/defHome.png" alt=""></div>
                <div class="col-md-5">
                    <span [style.color]="'white'">
                        <p><br /></p>
                        <p>Contrapunto proviene de un concepto digital que significa, 
                        dos melodías sonando al mismo tiempo. Traducido al area de diseño gráfico se refiere a 
                        poder controlar multiples disciplinas enfocadas en: Edición, fotografía y branding.
                       </p>
                       <p>La linea gráfica retoma un estilo “Cyberpunk”, o efecto glitch que se utiliza para
                            denominar a los errores de programación que tiene un videojuego y aprovecharlos para
                             mejorar, en este caso de diseño, aprender de los errores y mejorar
                        las habilidades.</p>
                       <p> Gracias por visitar este sitio web, espero que
                        disfrutes su contenido</p></span>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-1 plus-left no-padding ">
                <img class=" side-outsite-bottom plus-img" src="assets/images/cruces/cruzL3.png" alt="">
            </div>
            <div class="col-10 centered" [style.alignSelf]="'center'">
                <img src="assets/images/cruces/flechaAbajo.png" alt="" (click)="moveBotton(1000)">
            </div>
            <div class="col-1 plus-right no-padding ">
                <img class="rotate side-outsite-bottom plus-img" src="assets/images/cruces/cruzL1.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="card-proyectos">
    <br />
    <br />
    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <img width="100%" src="assets/images/home/Proyectos/proyectos.png" alt="">
                </div>
                <div class="col-6 ">
                    <div class="row" [style.width]="'100%'">
                        <div [style.width]="'100%'" class="col-4 side-outsite-left-2">
                            <a [style.width]="'100%'" (click)="drouter('m')">
                                <img width="200%" class="hovered" src="assets/images/home/Proyectos/multimediaRectangulo.png" alt="">
                                <div class="text-absolute visible-effect">Multimedia</div>
                            </a>

                        </div>
                        <div class="col-4 side-outsite-right-2">
                            <img width="90%" src="assets/images/home/Proyectos/manoTouch.png" alt="">
                        </div>
                        <div class="col-4 text-nat-center">
                            <label [style.color]="'white'">Seleciona una categoría</label>
                        </div>
                    </div>
                    <div class="row" [style.width]="'60%'">
                        <div class="col-12">
                            <a [style.width]="'100%'" (click)="drouter('b')">
                                <img width="100%" class="side-outsite-left-2 hovered" src="assets/images/home/Proyectos/branding.png" alt="">
                                <div class="text-absolute-1 visible-effect">Branding</div>
                            </a>
                        </div>
                    </div>
                    <div class="row" [style.width]="'60%'">
                        <div class="col-12">
                            <a [style.width]="'100%'" (click)="drouter('d')">
                                <img width="100%" class="side-outsite-left-3 hovered" src="assets/images/home/Proyectos/disenioWeb.png" alt="">
                                <div class="text-absolute-2 visible-effect">Diseño Web</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-10">
            </div>
            <div class="col-1 plus-right no-padding ">
                <img class="side-outsite-bottom plus-img" src="assets/images/cruces/cruzR2.png" alt="">
            </div>
        </div>
    </div>
</div>
<div class="card-colaboradores">
    <br />
    <br />
    <div class="container">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <h1 class="card-title-text">Colaboradores</h1>
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-3" [style.alignSelf]="'center'">
                    <img width="90%" class="hovered" src="assets/images/home/Colaboradores/spabass.png" alt="">
                </div>
                <div class="col-3" [style.alignSelf]="'center'">
                    <img width="90%" class="hovered" src="assets/images/home/Colaboradores/amaretto.png" alt="">
                </div>
                <div class="col-3" [style.alignSelf]="'center'">
                    <img width="90%" class="hovered" src="assets/images/home/Colaboradores/reflex.png" alt="">
                </div>
                <div class="col-3" [style.alignSelf]="'center'">
                    <img width="90%" class="hovered" src="assets/images/home/Colaboradores/albasan.png" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3" [style.alignSelf]="'center'">
                    <img width="90%" class="hovered" src="assets/images/home/Colaboradores/nikoCactli.png" alt="">
                </div>
                <div class="col-3" [style.alignSelf]="'center'">
                    <img width="90%" class="hovered" src="assets/images/home/Colaboradores/looper.png" alt="">
                </div>
                <div class="col-3" [style.alignSelf]="'center'">
                    <img width="90%" class="hovered" src="assets/images/home/Colaboradores/tipsMarketing.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-1 plus-left no-padding ">
                <img class=" side-outsite-bottom plus-img" src="assets/images/cruces/cruzL1.png" alt="">
            </div>
            <div class="col-10 " [style.alignSelf]="'center'">

            </div>
            <div class="col-1  ">
            </div>
        </div>
    </div>
</div>

<div class="card-contacto">
    <br />
    <br />
    <div class="container">
        <div class="col-12">
            <div class="row">
                <h1 class="card-title-text">Contacto</h1>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="row">
                        <h1 class="card-title-text-2">Sera un gusto atenderte, escribe el servicio que necesitas y te respondere lo mas breve posible.</h1>
                    </div>
                    <form id="frmContacto" [formGroup]="contactoForm" (ngSubmit)="guardarMensaje()">
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                    <mat-form-field class="text-cover-area bg-light">
                                        <mat-label>Nombre y Apellido:</mat-label>
                                        <input matInput formControlName="nombre" [ngClass]="{ 'is-invalid': contactoF('nombre')?.errors }" />
                                        <mat-error *ngIf="contactoF('nombre')?.errors">ingresa nombre</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="row">
                                    <mat-form-field class="text-cover-area bg-light">
                                        <mat-label>E-mail:</mat-label>
                                        <input matInput formControlName="email" [ngClass]="{ 'is-invalid': contactoF('email')?.errors }" />
                                        <mat-error *ngIf="contactoF('email')?.errors">ingresa email</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="row">
                                    <mat-form-field class="text-cover-area bg-light">
                                        <mat-label>País:</mat-label>
                                        <input matInput formControlName="telefono" [ngClass]="{ 'is-invalid': contactoF('telefono')?.errors }" />
                                        <mat-error *ngIf="contactoF('telefono')?.errors">ingresa móvil</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="row">
                                    <mat-form-field class="text-cover-area bg-light">
                                        <mat-label>Móvil:</mat-label>
                                        <input matInput formControlName="pais" [ngClass]="{ 'is-invalid': contactoF('pais')?.errors }" />
                                        <mat-error *ngIf="contactoF('pais')?.errors">ingresa país</mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-6">
                                <mat-form-field class="text-cover-area bg-light" [style.height]="'95%'">
                                    <mat-label>Mensaje:</mat-label>
                                    <textarea matInput [style.height]="'100%'" formControlName="mensaje" [ngClass]="{ 'is-invalid': contactoF('mensaje')?.errors }"></textarea>
                                    <mat-error *ngIf="contactoF('mensaje')?.errors">ingresa mensaje</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                    <br />
                    <div class="row">
                        <button mat-raised-button class="form-control" color="accent">Enviar</button>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>
    <div id="inicioBottom" class="col-12">
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-10">
            </div>
            <div class="col-1 plus-right no-padding ">
                <img class="side-outsite-bottom plus-img" src="assets/images/cruces/cruzR4.png" alt="">
            </div>
        </div>
    </div>
</div>