.aquino-demo {
    font-family: aquino-demo;
}

.lato-black {
    font-family: lato-black;
}

.montserrat-extra-bold {
    font-family: montserrat-extra-bold;
}

.montserrat-regular {
    font-family: montserrat-regular;
}

.myriad-pro-regular {
    font-family: myriad-pro-regular;
}

.nexa-bold {
    font-family: nexa-bold;
}

.nexa-light {
    font-family: nexa-light;
}